.form-title-with-button {
  font-size: 16px;
  color: rgb( 129, 146, 160 );
  line-height: 1.9;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e5e9;
  margin-bottom: 10px;
}

.ellipsis {
  text-overflow: ellipsis;
}
